*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: red;
    font-family: 'Dancing Script', cursive;

}

.nav-link{
    color: rgb(10, 10, 94);
}

.nav-link:hover{
    color: red;
    transition: .3s;
}

.nav-item{
    color: rgb(7, 7, 78);
    font-weight: 500;
    padding-left: 35px;
}

.btn0{
    height: 52px;
    width: 130px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all .4s;
    background: rgb(248, 83, 83);
}

.btn0:hover{
    background:rgb(214, 11, 11);
    transition: all .4s;
}

.btn1{
    height: 52px;
    width: 130px;
    outline: none;
    border: 2px solid rgb(248, 83, 83);
    color: rgb(248, 20, 20);
    transition: all .4s;
    background: transparent;
}

.btn1:hover{
    background:rgb(214, 11, 11);
    transition: all .4s;
    color: white;
    border: none;
    outline: none;
}


/* ===================main section===================== */

.main{
    background: url(../img/main1copy.jpg) no-repeat;
    background-size: cover;
    min-height: 95vh;
    width: 100%;
    
}

.main h1{
    font-size: 5rem;
    font-weight: 800;
    color: rgb(7, 7, 78);
}

.main input{
    height: 71px;
    width: 70%;
    border: none;
    outline: none;
    padding: 15px;
}
.btn2{
    height: 70px;
    width: 25%;
    background-color: rgb(243, 73, 73);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    margin-left: -4px;
}

.btn2:hover{
    background: rgb(214, 11, 11);
    transition: all .4s;
}

.red{
    color: red;
}

.ceta h1{
    font-size: 3.5rem;
    color: rgb(7, 7, 78);
}

.ceta .card:hover{
    color: red;
    cursor: pointer;
    transition: all .3s;
    box-shadow: -2px 2px 22px -11px rgba(0, 0, 0, .75);
    -webkit-box-shadow: -2px 2px 22px -11px rgba(0, 0, 0, .75);
    -moz-box-shadow: -2px 2px 22px -11px rgba(0, 0, 0, .75);
}

.btn3{
    height: 70px;
    width: 70%;
    border: 1px solid rgb(130, 130, 231);
    background: transparent;
    border-radius: 5px;
    color: rgb(130, 130, 231);
    transition: all .4s;
}

.btn3:hover{
    background: rgb(102, 102, 214);
    color: white;
    border: none;
    outline: none;
    transition: all .4s;
}

.resume{
    background: linear-gradient(rgba(4, 11, 75, 0.719), rgba(4, 26, 100, 0.73)), url(../img/woman.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.resume h2{
    font-size: 3.8rem;
}